<div class="card bg-dark text-white my-2">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form>
            <div class="form-group row my-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" name="nombre" id="" class="form-control" [(ngModel)]="cliente.nombre">
                </div>   
            </div>
        
            <div class="form-group row my-2">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" name="apellido" id="" class="form-control" [(ngModel)]="cliente.apellido">
                </div>   
            </div>
              
            <div class="form-group row my-2">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" name="email" id="" class="form-control" [(ngModel)]="cliente.email">
                </div>   
            </div>
        

            <div class="form-group-row my-2 align-center">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock">Crear</button>
                    
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>
                    </ng-template>
                </div>
            </div>
        </form>     
    </div>
</div>
